### Load Data From CSV File

In [1]:
import pandas as pd
cust_df = pd.read_csv("final_dataset_update.csv")
cust_df.head()

,Unnamed: 0,season,match_id,runs_to_be_scored,balls_remaining,wickets_remaining,match_winner
0,124,2008,335982,222.0,119.0,10.0,1.0
1,125,2008,335982,221.0,119.0,10.0,1.0
2,126,2008,335982,221.0,118.0,10.0,1.0
3,127,2008,335982,220.0,117.0,10.0,1.0
4,128,2008,335982,219.0,116.0,10.0,1.0

### Pre-processing

In [2]:
cust_df["match_winner"] = cust_df["match_winner"]-1
cust_df.head()

,Unnamed: 0,season,match_id,runs_to_be_scored,balls_remaining,wickets_remaining,match_winner
0,124,2008,335982,222.0,119.0,10.0,0.0
1,125,2008,335982,221.0,119.0,10.0,0.0
2,126,2008,335982,221.0,118.0,10.0,0.0
3,127,2008,335982,220.0,117.0,10.0,0.0
4,128,2008,335982,219.0,116.0,10.0,0.0

### Modeling

In [3]:
match_winner=cust_df["match_winner"]

In [4]:
cust_df.drop("match_winner",inplace=True,axis=1)

In [5]:
df=cust_df.iloc[:,1:]

In [6]:
df.head()

   season  match_id  runs_to_be_scored  balls_remaining  wickets_remaining
0    2008    335982              222.0            119.0               10.0
1    2008    335982              221.0            119.0               10.0
2    2008    335982              221.0            118.0               10.0
3    2008    335982              220.0            117.0               10.0
4    2008    335982              219.0            116.0               10.0

In [7]:
df.drop("season",inplace=True,axis=1)

In [8]:
df.drop("match_id",inplace=True,axis=1)

In [9]:
df.head()

   runs_to_be_scored  balls_remaining  wickets_remaining
0              222.0            119.0               10.0
1              221.0            119.0               10.0
2              221.0            118.0               10.0
3              220.0            117.0               10.0
4              219.0            116.0               10.0

In [10]:
from sklearn.cluster import KMeans
clusterNum = 2
k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(df)
labels = k_means.labels_
print(len(labels))

91637

### Insights
We assign the labels to each row in dataframe.

In [11]:
df["label"] = labels
df.head(5)

   runs_to_be_scored  balls_remaining  wickets_remaining  label
0              222.0            119.0               10.0      1
1              221.0            119.0               10.0      1
2              221.0            118.0               10.0      1
3              220.0            117.0               10.0      1
4              219.0            116.0               10.0      1

In [12]:
df["match_winner"]=match_winner

In [13]:
df.head()

   runs_to_be_scored  balls_remaining  wickets_remaining  label  match_winner
0              222.0            119.0               10.0      1           0.0
1              221.0            119.0               10.0      1           0.0
2              221.0            118.0               10.0      1           0.0
3              220.0            117.0               10.0      1           0.0
4              219.0            116.0               10.0      1           0.0

In [14]:
df.to_csv("final_dataset_updated.csv",index=False)